/*
.navbar-nav {
    float: right;
}
.navbar-inverse {
    background-color: #0D1379;
    border-bottom: #AD0B0B 4px solid;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #AD0B0B;
}
*/

.stack-func {
    display: none;
}


.row {
    min-height: 90vh;
    padding-top: 75px;
    padding-bottom: 20px;
    margin:20px;
    overflow: hidden;
}
.container {
    width:100%;
}
.head img.logo {
    width: 40%;
    max-width: 300px;
    margin: 5%;
    margin-bottom: 0%;
    padding-top: 8%;
}

.head {
    background-color: #fff;
    width: 100%;
    text-align: center;
}

.head p.nav {
    margin: 2%;
    font-size: 1.4em;
}

.stack-list {
    margin-top: 25px;
}

