{% extends "tmm-base.html" %}
{% load static %}

{% block navbar %}
{% endblock %}
{% block footer %}
<div style="text-align: center">
    <a href="/"><img style="max-width:100px; width: 100%;" src="{% static 'images/other_images/ss_logo.png' %}"></a>
</div>
{% endblock %}

{% block content %}
        <article id="intro" class="section-wrapper clearfix" data-custom-background-img="{% static 'images/other_images/filmstack.jpg' %}">
          <div class="content-wrapper clearfix">
            <div class="col-sm-10 col-md-9 pull-right">

                <section class="feature-text">
                    <h1>Calculate T and R in your browser</h1>
                  <p>Build a stack of thin-films and determine it's opitcal response using the transfer matrix method.</p>
                  <p><a href="app" class="link-scroll btn btn-outline-inverse btn-lg">try the prototype</a></p>
                </section>

                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup{
                        background: none; clear:left; 
                    }
                    #mc_embed_signup form {
                        text-align: right;
                    }
                    #mc_embed_signup input.email {
                        margin: 0;
                        margin-left: auto;
                        margin-bottom: 20px;
                    }
                    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                <form action="//solidstatedesign.us13.list-manage.com/subscribe/post?u=30f88d4ccadac1c3f81ff9922&amp;id=4f4d40e515" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL">Subscribe to our mailing list</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_30f88d4ccadac1c3f81ff9922_4f4d40e515" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="link-scroll btn btn-outline-inverse btn-lg"></div>
                    </div>
                </form>
                </div>

                <!--End mc_embed_signup-->

            </div><!-- .col-sm-10 -->
          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->


{% endblock %}
