<!DOCTYPE html>
{% load static %}
<html lang="en " itemscope itemtype="http://schema.org/Organization">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Solid State Design</title>
    <meta property="og:image" content="{% static 'images/other_images/bg8.jpg' %}">
    

    <!-- Add the following three tags inside head. -->
    <meta itemprop="name" content="Solid State Design">
    <meta itemprop="description" content="Solid State Design. Attractive, functional websites for the scientific community">
    <meta itemprop="image" content="/static/images/other_images/bg8.jpg">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon/favicon.ico' %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <!-- owl carousel css -->
    <link href="{% static 'js/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'js/owl-carousel/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'js/owl-carousel/owl.transitions.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="background-image-overlay"></div>

    <div id="outer-background-container" data-default-background-img="{% static 'images/other_images/bg7.jpg'}" style="background-image:url(/static/images/other_images/bg7.jpg);"></div>
    <!-- end: #outer-background-container -->    

    <!-- Outer Container -->
    <div id="outer-container">

      <!-- Left Sidebar -->
      <section id="left-sidebar">
        
        <div class="logo">
          <a href="#intro" class="link-scroll"><img src="{% static 'images/other_images/ss_logo.png' %}" alt="Twilli Air"></a>
        </div><!-- .logo -->

        <!-- Menu Icon for smaller viewports -->
        <div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();"><span class="glyphicon glyphicon-th"></span></div>

        <ul id="main-menu">
          <li id="menu-item-text" class="menu-item scroll"><a href="#text">About</a></li>
          <li id="menu-item-featured" class="menu-item scroll"><a href="#featured">Featured</a></li>
          <li id="menu-item-contact" class="menu-item scroll"><a href="#contact">Contact</a></li>
        </ul><!-- #main-menu -->

      </section><!-- #left-sidebar -->
      <!-- end: Left Sidebar -->

      <section id="main-content" class="clearfix">
        
        <article id="intro" class="section-wrapper clearfix" data-custom-background-img="{% static 'images/other_images/bg8.jpg' %}">
          <div class="content-wrapper clearfix">
            <div class="col-sm-10 col-md-9 pull-right">

                <section class="feature-text">
                  <h1>Attractive, functional websites for scientific communities</h1>
                  <p>From personal scientific portfolios to database driven conference and project sites.</p>
                  <p><strong>Solid State Design</strong> create bespoke, responsive websites for people in science and acacemia.</p>
                  <p><a href="#text" class="link-scroll btn btn-outline-inverse btn-lg">find out more</a></p>
                </section>

            </div><!-- .col-sm-10 -->
          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->

        <article id="text" class="section-wrapper clearfix" data-custom-background-img="{% static 'images/other_images/bg7.jpg' %}">
          <div class="content-wrapper clearfix">
            <div class="col-sm-10 col-md-9 pull-right">

                <h1 class="section-title">About</h1>

                <p class="feature-paragraph"><strong>Solid State Design</strong> is Dr. Rob Treharne. A working physicisist with an eye for design and a thirst for code. </p>
                <p>Rob has a PhD in Renewable Energy and a background in Photovoltaics. He founded Solid State Design this year and is on the hunt for interesting and technical web projects that will further hone  his skills and portfolio.</p>
            </div><!-- .col-sm-10 -->
          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->



        <article id="featured" class="section-wrapper clearfix" data-custom-background-img="{% static 'images/other_images/bg9.jpg' %}">
          <div class="content-wrapper clearfix">
            <div class="col-sm-11 pull-right">

                <h1 class="section-title">Featured</h1>
              
                <!-- feature columns -->
                <section class="feature-columns row clearfix">

                  <!-- feature 1 -->
                  <article class="feature-col col-md-4">
                    <a href="" onclick="populate_and_open_modal(event, 'modal-content-6');" class="thumbnail linked">
                      <div class="image-container">
                        <img data-img-src="{% static 'images/other_images/cdt-pv.jpg' %}" class="lazy item-thumbnail" alt="Lorem Ipsum">
                      </div>
                      <div class="caption">
                        <h5>CDT-PV</h5>
                        <p>A responsive, database driven project site for the Centre for Doctoral Training in New and Sustainable Photovoltaics.</p>
                      </div><!-- .caption -->
                    </a><!-- .thumbnail -->

                    <div class="content-to-populate-in-modal" id="modal-content-6">
                      <h1><a href="http://cdt-pv.org">cdt-pv.org</a></h1>
                      <p>A responsive, database driven project site for the Centre for Doctoral Training in New and Sustainable Photovoltaics.</p>

                      <!-- image slider inside popup -->
                      <div id="unique-id-for-image-slider" class="owl-carousel popup-image-gallery">
                        <!-- slide -->
                        <div>
                          <!-- caption is optional. To remove it, remove the <h6> below -->
                          <img class="lazyOwl" data-src="{% static 'images/other_images/cdt-pv-1.jpg' %}">
                      <p>Student/staff directory and user managed portfolios.</p>
                    </div>
                    <!-- slide -->
                    <div>
                      <img class="lazyOwl" data-src="{% static 'images/other_images/cdt-pv-2.jpg' %}">
                      <p>Create training module pages, upade and manage traing resources.</p>
                        </div>
                        <!-- slide -->
                        <div>
                          <img class="lazyOwl" data-src="{% static 'images/other_images/cdt-pv-3.jpg' %}">
                          <p>Students submit assessments and receive direct feedback from academics via the site.</p>
                        </div>
                      </div>
                    </div><!-- #modal-content-6 -->
                  </article>
                  
                  <!-- feature 2 -->
                  <article class="feature-col col-md-4">
                    <a href="" onclick="populate_and_open_modal(event, 'modal-content-7');" class="thumbnail linked">
                      <div class="image-container">
                        <img data-img-src="{% static 'images/other_images/pvsat.jpg' %}" class="lazy item-thumbnail" alt="Lorem Ipsum">
                      </div>
                      <div class="caption">
                        <h5>PVSAT</h5>
                      <p>A conference site for the UK Solar Energy Society and their PVSAT conference hosted at University of Liverpool in 2016.</p>
                      </div><!-- .caption -->
                    </a><!-- .thumbnail -->

                    <div class="content-to-populate-in-modal" id="modal-content-7">
                      <h1><a href="http://pvsat.org.uk>" target="_bank">pvsat.org.uk</a></h1>
                      <p>A conference site for the UK Solar Energy Society and the PVSAT conference, hosted at University of Liverpool April 2016.</p>

                      <!-- image slider inside popup -->
                      <div id="unique-id-for-image-slider" class="owl-carousel popup-image-gallery">
                        <!-- slide -->
                        <div>
                          <!-- caption is optional. To remove it, remove the <h6> below -->
                          <img class="lazyOwl" data-src="{% static 'images/other_images/pvsat-2.jpg' %}">
                          <p>Digital abstract and paper submissions for authors via site login portal.</p>
                        </div>
                        <!-- slide -->
                        <div>
                          <img class="lazyOwl" data-src="{% static 'images/other_images/pvsat-3.jpg' %}">
                          <p>Dynamically generated, interatctive conference proceedings. Your delegate's can access and follow a speaker's presentation and paper in real time.</p>
                        </div>
                        <!-- slide -->
                        <div>
                          <img class="lazyOwl" data-src="{% static 'images/other_images/pvsat-4.jpg' %}">
                          <p>Administrator can update the site with information on venue/events at will without the need for a webmonkey.</p>
                        </div>
                      </div>
                    </div><!-- #modal-content-6 -->
                  </article>


                  <!-- feature 3 -->
                  <article class="feature-col col-md-4">
                    <a href="" onclick="populate_and_open_modal(event, 'modal-content-8');" class="thumbnail linked">
                      <div class="image-container">
                        <img data-img-src="{% static 'images/other_images/solar-challenge.jpg' %}" class="lazy item-thumbnail" alt="Lorem Ipsum">
                      </div>
                      <div class="caption">
                        <h5>Graphic Design</h5>
                        <p>Nothing beats a good logo. Here are a few that were designed by Solid State.</p>
                      </div><!-- .caption -->
                    </a><!-- .thumbnail -->

                    <div class="content-to-populate-in-modal" id="modal-content-8">
                      <h1>Graphic Design</h1>
                      <p>I love designing logos. To me, there is nothing more satisying than a simple but elegant logo. Here are a few recent examples.</p>
                      <!-- image slider inside popup -->
                      <div id="unique-id-for-image-slider" class="owl-carousel popup-image-gallery">
                        <!-- slide -->
                        <div>
                          <!-- caption is optional. To remove it, remove the <h6> below -->
                          <img class="lazyOwl" data-src="{% static 'images/other_images/gd-1.jpg' %}">
                          <p><a href="http://www.rsasolarchallenge.org" target="_blank">RSA Solar Challenge</a>. This one looks great on a grey background and is perfect for round badges and stickers.</p>
                        </div>
                        <!-- slide -->
                        <div>
                          <img class="lazyOwl" data-src="{% static 'images/other_images/gd-2.jpg' %}">
                          <p>Logo for <a href="http://www.cdt-pv.org" target="_blank">CDT-PV</a>. This one has been particularly popular - as well as the cdt-pv.org website, this logo has been used it on mugs, T-shirts, pens, pads, banners and posters. It is well known around the University of Liverpool campus.</p>
                        </div>
                        <!-- slide -->
                        <div>
                          <img class="lazyOwl" data-src="{% static 'images/other_images/gd-3.jpg' %}">
                          <p>Sometimes you just want simple. This one took just over an hour to get right.</p>
                        </div>
                      </div>
                    </div><!-- #modal-content-7 -->
                  </article>


                </section><!-- end: .feature-columns -->

              <!-- End: Section content to edit -->

            </div><!-- .col-sm-10 -->
          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->

        <article id="contact" class="section-wrapper clearfix" data-custom-background-img="{% static 'images/other_images/bg10.jpg' %}">
          <div class="content-wrapper clearfix">
            
              <h1 class="section-title">Contact</h1>
                <p class="feature-paragraph">So, interested in making an awesome site? Let's talk. </p>
              
                <!-- CONTACT DETAILS -->
                <strong>
                  <p><a href="mailto:rob@solidstatedesign.co.uk">rob@solidstatedesign.co.uk</a> | email</p>
                  <p><a href="https://twitter.com/home?status=@solstatdes" target="_blank">@solstatdes</a> | twitter</p>
                  <!--<p>solidstate.design | skype</p>-->
                </strong>
                <!-- END: CONTACT DETAILS -->


          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->

      </section><!-- #main-content -->

      <!-- Footer -->
      <section id="footer">

        <!-- Go to Top -->
        <div id="go-to-top" onclick="scroll_to_top();"><span class="icon glyphicon glyphicon-chevron-up"></span></div>

        <ul class="social-icons">
          <li><a href="https://www.facebook.com/solstatdes/" target="_blank" title="Facebook"><img src="{% static 'images/theme_images/social_icons/facebook.png' %}" alt="Facebook"></a></li>
          <li><a href="https://twitter.com/solstatdes" target="_blank" title="Twitter"><img src="{% static 'images/theme_images/social_icons/twitter.png' %}" alt="Twitter"></a></li>
          <li><a href="https://plus.google.com/u/1/105759583814338252258" target="_blank" title="Google+"><img src="{% static 'images/theme_images/social_icons/googleplus.png' %}" alt="Google+"></a></li>
        </ul>

        <!-- copyright text -->
        <div class="footer-text-line">&copy; 2016 Solid State Design</div>
      </section>
      <!-- end: Footer -->      

    </div><!-- #outer-container -->
    <!-- end: Outer Container -->

    <!-- Modal -->
    <!-- DO NOT MOVE, EDIT OR REMOVE - this is needed in order for popup content to be populated in it -->
    <div class="modal fade" id="common-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-body">
          </div><!-- .modal-body -->
        </div><!-- .modal-content -->
      </div><!-- .modal-dialog -->
    </div><!-- .modal -->    

    <!-- Javascripts
    ================================================== -->

    <!-- Jquery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Easing - for transitions and effects -->
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>

    <!-- background image strech script -->
    <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
    <!-- background image fix for IE 9 or less
       - use same background as set above to <body> -->
    <!--[if lt IE 9]>
    <script type="text/javascript">
    $(document).ready(function(){
      jQuery("#outer-background-container").backstretch("{% static 'images/other_images/bg7.jpg' %}");
    });
    </script> 
    <![endif]-->  

    <!-- detect mobile browsers -->
    <script src="{% static 'js/detectmobilebrowser.js' %}"></script>

    <!-- owl carousel js -->
    <script src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script>

    <!-- Custom functions for this theme -->
    <script src="{% static 'js/functions.min.js' %}"></script>
    <script src="{% static 'js/initialise-functions.js' %}"></script>

    <!-- IE9 form fields placeholder fix -->
    <!--[if lt IE 9]>
    <script>contact_form_IE9_placeholder_fix();</script>
    <![endif]-->  

  </body>
</html>
